<h1>Dashboard</h1>

<p>Total Students:<%= @total_students %></p>
<p>Total Ruby Students:<%= @ruby_students %></p>
<p>Total Rails Students:<%= @rails_students %></p>
<p>Total React Students:<%= @react_students %></p>
<p>Total Java Students:<%= @java_students %></p>