<%= form_with model: @student do |f| %>
    <% if @student.errors.any? %>
    <ul>
        <% @student.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
    </ul>
    <% end %>

    <%= f.label :name %>
    <%= f.text_field :name %>
    <br><br>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <br><br>
    <%= f.label :age %>
    <%= f.number_field :age %>
    <br><br>
    <%= f.label :course %>
    <%= f.select :course, ["Ruby", "Rails", "React", "Java"] %>
    <br><br>
    <%= f.label :city %>
    <%= f.text_field :city %>
    <br><br>
    <%= f.label :marks %>
    <%= f.number_field :marks %>
    <br><br>
    <%= f.submit %>
<% end %>