<h1>Student Details</h1>

<p>Name: <%= @student.name %></p>
<p>Email: <%= @student.email %></p>
<p>Age: <%= @student.age %></p>
<p>Course: <%= @student.course %></p>
<p>City: <%= @student.city %></p>
<p>Marks: <%= @student.marks %></p>
<p>Result: <%= @student.result %></p>