<!DOCTYPE html>
<html>
<head>
  <title>Student Management</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= stylesheet_link_tag "shared/professional", media: "all" %>
</head>

<body>
  <%= render "shared/header" %>
  <%= render "shared/navigation" %>
  <div class="container">
    <% flash.each do |type, message| %>
      <div class="alert <%= type == 'notice' ? 'alert-success' : 'alert-danger' %>">
        <%= message %>
      </div>
    <% end %>
    <%= yield %>
</div>

  <%= render "shared/footer" %>

</body>
</html>